### The numpy dnarray: a mutidimensional array object

#### Arrays enable to perform mathematical operations on whole blocks of data using similar sytax

In [1]:
import numpy as np

In [4]:
# generate some random data
data = np.random.randn(2,3)
data

array([[ 2.26600079,  0.88134343,  0.22536126],
       [ 0.19599835, -0.56146874,  0.8997988 ]])

In [5]:
data * 10

array([[22.66000789,  8.81343433,  2.25361264],
       [ 1.95998354, -5.61468742,  8.99798798]])

In [6]:
data + data

array([[ 4.53200158,  1.76268687,  0.45072253],
       [ 0.39199671, -1.12293748,  1.7995976 ]])

#### An ndarray is a generic mutidimensional container for homogeous data, all the data must be same type. Every array has a shape. a tuple indicating the size of each dimension. And dtype an object describing the data type of the array

In [8]:
data.size

6

In [9]:
data.shape

(2, 3)

In [10]:
data.dtype

dtype('float64')

#### create ndarrays (list, nested sequences) - np.array()

In [11]:
data1 = [6, 7.5, 8, 0, 1]

In [12]:
arr1 = np.array(data1)
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [13]:
data2 = [[1,2,3,4],[5,6,7,8]]

In [14]:
array2 = np.array(data2)
array2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

#### in addition to np.array, there are a number of other functions for creating new arrays. As zeros and ones, create arrays of 0s and 1s. empty creates an array without initializing its value to any data type

In [13]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [14]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [15]:
np.empty((2,3,2))

array([[[ 0.00000000e+000, -2.32034772e+077],
        [ 3.45845952e-323,  0.00000000e+000],
        [ 0.00000000e+000,  0.00000000e+000]],

       [[ 0.00000000e+000,  0.00000000e+000],
        [ 0.00000000e+000,  0.00000000e+000],
        [ 0.00000000e+000,  0.00000000e+000]]])

In [15]:
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [5]:
arr1 = np.array([1,2,3], dtype= np.float64)

In [6]:
arr1.dtype

dtype('float64')

In [7]:
arr2 = np.array([1,2,3], dtype=np.int32)

In [8]:
arr2.dtype

dtype('int32')

#### can explicly convert or cast ann array from one dtype to amother using ndarray's astype method

In [9]:
arr = np.array([1,2,3,4,5])

In [10]:
arr.dtype

dtype('int64')

In [11]:
float_arr = arr.astype(np.float64)

In [12]:
float_arr.dtype

dtype('float64')

#### if cast some floating-point number to be int, the decimal part will be truncated

#### astype always creates a new array, even if the new dtype is same as the old type

#### arrays are import because they enable you to express batch operations on data without for loops -- vectorization