In [1]:
docA = "The cat sat on my face"
docB = "The dog sat on my bed"

In [2]:
#bag of words
bowA = docA.split(" ")
bowB = docB.split(" ")

In [3]:
bowB

['The', 'dog', 'sat', 'on', 'my', 'bed']

In [4]:
wordSet = set(bowA).union(set(bowB))

In [5]:
wordSet

{'The', 'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat'}

In [6]:
#the method fromkeys() create a new doctionary with keys from seq and values 
wordDictA = dict.fromkeys(wordSet, 0)
wordDictB = dict.fromkeys(wordSet, 0)

In [7]:
wordDictA

{'on': 0, 'face': 0, 'sat': 0, 'my': 0, 'cat': 0, 'dog': 0, 'bed': 0, 'The': 0}

In [8]:
for word in bowA:
    wordDictA[word] += 1
for word in bowB:
    wordDictB[word] += 1

In [11]:
wordDictB

{'on': 1, 'face': 0, 'sat': 1, 'my': 1, 'cat': 0, 'dog': 1, 'bed': 1, 'The': 1}

In [12]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   The  bed  cat  dog  face  my  on  sat
0    1    0    1    0     1   1   1    1
1    1    1    0    1     0   1   1    1

In [13]:
def computeTF(wordDict, bow):
    tfdict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfdict[word] = count/float(bowCount)
    return tfdict

In [15]:
tfBowA = computeTF(wordDictA, bowA)

In [16]:
tfBowB = computeTF(wordDictB, bowB)

In [17]:
tfBowA

{'on': 0.16666666666666666,
 'face': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'my': 0.16666666666666666,
 'cat': 0.16666666666666666,
 'dog': 0.0,
 'bed': 0.0,
 'The': 0.16666666666666666}

In [22]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N/float(val))
    return idfDict

In [23]:
idfs = computeIDF([wordDictA, wordDictB])

In [24]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [25]:
tfidfBowA = computeTFIDF(tfBowA, idfs)

In [26]:
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [27]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

   The       bed       cat       dog      face   my   on  sat
0  0.0  0.000000  0.050172  0.000000  0.050172  0.0  0.0  0.0
1  0.0  0.050172  0.000000  0.050172  0.000000  0.0  0.0  0.0